[submodule "pelican-bootstrap3"]
	path = pelican-bootstrap3
	url = git://github.com/icaromedeiros/pelican-bootstrap3.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git://github.com/eike2013/pelican-plugins.git
