[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:icaromedeiros/pelican-plugins.git
[submodule "pelican-bootstrap3"]
	path = pelican-bootstrap3
	url = git@github.com:icaromedeiros/pelican-bootstrap3.git
