pelican==3.3
-e git+ssh://git@github.com/icaromedeiros/pelican-microdata.git#egg=pelican_microdata

Markdown==2.4.1
Fabric==1.8.3


# plugins requirements
# better images
beautifulsoup4==4.3.2
PIL==1.1.7
# youtube
pelican-youtube==0.1.0
