pelican==3.5.0
-e git+ssh://git@github.com/icaromedeiros/pelican-microdata.git#egg=pelican_microdata

Markdown==2.4.1
Fabric==1.8.3


# plugins requirements
# better images
Pillow==3.4.2
beautifulsoup4==4.5.1
# youtube
pelican-youtube==0.1.0
# simple_footnotes
html5lib==0.9999999
